link(rel='stylesheet', href='/stylesheets/output.css')

.output
  img(src="#{url}")
  img(src="/images/logo.png")#logo
  #website www.tcpnepal.com
  img#fblogo(src="/images/fblogo.png")
  #fburl /tcpnepal
  input#original(type="hidden" value="#{original}")
