* {
  margin: 0;
  padding: 0;
}
.output {
  display: inline-block;
  padding-bottom: 40px;
  background: #c7d8e0;
  position: relative;
  font-family: Helvetica, sans-serif;
}
.output img#logo {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 100px;
}
.output #website {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.output #fblogo {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 25px;
}
.output #fburl {
  position: absolute;
  bottom: 10px;
  left: 30px;
}
