body
  margin: 0
  padding: 0
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif

a
  color: #00B7FF

#canvas
	position: relative

img
	max-width: 100%

.overlay
	position: absolute
	color: black

.ui-draggable-handle
	cursor: move

#wrapper .ui-widget-delete
	position: absolute
	top: 5px
	right: 0
	background-color: red
	padding: 2px 5px
	color: white

[contenteditable]:focus
	outline: 0px solid transparent

#wrapper .ui-widget-header
	height:5px
	background: orange

#exportContainer .edit-marker
	display: none
	
.watermark {
	color: #393939;
}

#bg-selection 
	margin-top: 10px

#bg-selection img 
	display: inline-block